body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #03010b;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

header img {
    max-height: 50px;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

button {
    text-transform: uppercase;
}

.filter-container,
.button-container,
.user-info-container {
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #d1d1d1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    color: #000;
}

.product-card img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.product-card .quantity input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-modal:hover,
.close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}